<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionTest" parallel="tests">
  <test thread-count="5" name="GoogleTest">
  <parameter name="url" value="https://google.com"></parameter>
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="practiceTest.GoogleTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="AmazonTest">
  <parameter name="url" value="https://amazon.com"></parameter>
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="practiceTest.AmazonTest"/>
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
